<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Работа с документами</title>

</head>
<body>
<my-app>
<a></a><button click="LoadingBalanceSheetToDBMS()">Загрузка данных по бухгалтерскому балансу из excel - файла в СУБД</button>
<button click="ViewingListDownloadedFiles()">Просмотр списка загруженных файлов</button>
<button click="DisplayingDataFromDBMS()">Отображение данных из СУБД</button>
    <button click="()">Вывести данные в файл</button>
    <script src="../static/js/lib/angular.min.js"></script>
    <script src="../static/js/index.ts"></script>
</my-app>
</body>
</html>